<a href="/">Home</a>

<a href="/transits">My Alerts</a>

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% else %>
  <%= link_to 'Already set up an alert?', new_user_session_path %>
<% end %>