<div class="container_12">
  <div id="light_bulb">
    <img src="/assets/bulb.svg">
    <img src="/assets/socket.svg">
  </div>
  <div class="push_1">
    <p id="title">Never miss your Muni again</p>
    <div class="push_3">
      <%= link_to 'Sign up for Hue alerts', new_user_registration_path, :class => "signup_button" %>
    </div>
    <div id="tracks">
      <img src="/assets/tracks.svg">
    </div>
  </div>




</div>