hello

<a href="/transits/new">Set up alert</a>

<% if user_signed_in? %>
  <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
  <%= link_to 'My Alerts', transits_path %>
<% else %>
  <%= link_to 'Log in', new_user_session_path %>
<% end %>