<div class="container_12">
  <div id="light_bulb">
    <img src="/assets/bulb.svg">
    <img src="/assets/socket.svg">
  </div>
  <div class="push_1">
    <p id="title">Never miss your Muni again</p>
    <div id="big_button">
      <a href="/users/sign_up">Set up alert</a>
    </div>
    <div id="tracks">
      <img src="/assets/tracks.svg">
    </div>
  </div>




</div>