$cyan: #1bb9ea;
$pink: #E54193;
$yellow: #F9D400;
$dark_gray: #414042;
$med_gray: #A8A8A8;
$light_gray: #f5f5f5;
$font: 'Open Sans';

a {
  font-family: $font;
  text-decoration: none;
  color: $dark_gray;
}

.white {
  color: white;
}

#nav_container {
  margin: -10px -10px 0 -10px;
  padding: 0;
}

#nav_bar {
  background-color: $dark_gray;
  height: 50px;
  width: 100%;
  margin: 0;
}

#nav_bar span {
  float: right;
  margin-right: 200px;
}

#nav_bar a {
  font-family: $font;
  font-size: 16px;
  font-weight: 600px;
  color: white;
  display: inline;
  float: right;
  padding-right: 20px;
  line-height: 50px;
}

#nav_bar img {
  display: inline;
  position: absolute;
  left: 200px;
  top: 5px;
}

#title {
  font-family: $font;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.big_button {
  width: 200px;
  background-color: $cyan;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  text-align: center;
  font-family: $font;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
  color: white;
}

#new_button {
  width: 200px;
  height: 100%;
  margin-bottom: 10px;
  background-color: $cyan;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  text-align: center;
  font-family: $font;
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin: 20px 0 50px 0;
}

.white {
  color: white;
}

#tracks {
  width: 425px;
  margin: auto;
  margin-top: 25px;
}

#light_bulb {
  margin-top: -25px;
  float: left;
}

#light_bulb img {
  width: 130%;
  display: block;
}

.feature_icon {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  line-height: 1;
}

.feature_icon img {
  width: 6%;
}

.list_title {
  font-family: $font;
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

.pg_title {
  font-family: $font;
  font-size: 14px;
  text-transform: lowercase;
  text-align: center;
  margin: 3px 0 20px 0;
}

.form_title {
  font-family: $font;
  font-size: 15px;
  color: $dark_gray;
  margin-bottom: 0px;
  margin-top: 0px;
}

.form_field {
  height: 50px;
  width: 100%;
  background-color: $light_gray;
  border: none;
  box-shadow: inset 0px 1px 1px #d7d7d7;
  outline: none;
  font-family: $font;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 15px;
  padding: 5px;
  box-sizing: border-box;
}

.submit_btn {
  height: 70px;
  width: 100%;
  color: white;
  background-color: $cyan;
  border: none;
  font-family: $font;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 30px;
}

.create_btn {
  height: 70px;
  width: 250px;
  color: white;
  background-color: $cyan;
  border: none;
  font-family: $font;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 30px;
}

.result {
  width: 70%;
  height: 100px;
  margin: auto;
  font-family: $font;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 12px 0 0px 30px;
}

#route {
  display: inline-block;
  font-family: $font;
  color: $cyan;
  font-size: 40px;
  line-height: 90px;
  float: left;
  width: 35px;
  text-align: center;
}

#actions {
  width: 100px;
  height: 100px;
  float: right;
  line-height: 75px;
  margin-top: -60px;
  margin-left: 50px;
}

#actions img {
  width: 20%;
  padding-right: 10px;
}

.rule {
  width: 100%;
  height: 1px;
  background-color: $dark_gray;
  margin-bottom: 0;
}

.madlib {
  font-family: $font;
  font-size: 40px;
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 40px;
  line-height: 70px;
}

.madlib .time_form {
  color: $yellow;
}

select {
  -webkit-appearance: button;
  border-radius: 0px;
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid $dark_gray;
  color: $cyan;
  font-family: $font;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.route_form select {
  width: 450px;
  border: none;
  border-bottom: 4px solid $cyan;
}

.direction_form select {
  width: 600px;
  border: none;
  border-bottom: 4px solid $cyan;
}

.stop_form select {
  width: 600px;
  border: none;
  border-bottom: 4px solid $cyan;
}

.time_form select {
  color: $yellow;
  width: 125px;
  border: none;
  border-bottom: 4px solid $yellow;
}

.minute_form input {
  border-radius: 0px;
  background-position: center right;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 4px solid $pink;
  color: $pink;
  font-family: $font;
  font-size: 35px;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50px;
}

